input {
    padding: 8px;
    margin-left: 60px;
    margin-right: 12px;
    width: 70%;
    margin-top: 5px;
}

mat-icon {
    font-size: 40px;
    position: absolute;
    top: 13px;
    cursor: pointer;
}
